<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
                <box size="0.841986828690744 0.6562646693395983 1.2500115242528775" />
            </geometry>
            <material name="No sensor">
                <color rgba="0.44 0.78 0.91 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
                <box size="0.841986828690744 0.6562646693395983 1.2500115242528775" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.420993414345372 0 5" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.4191254001699263 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4191254001699263 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8382508003398526 0.7089643006462857 0.7055372258848194" />
            </geometry>
            <material name="Has sensor">
                <color rgba="0.2 0.66 0.31 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4191254001699263 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8382508003398526 0.7089643006462857 0.7055372258848194" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.8382508003398526 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.5483238982616606 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5483238982616606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0966477965233212 0.10836637661855801 1.2416623520251409" />
            </geometry>
            <material name="No sensor">
                <color rgba="0.44 0.78 0.91 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5483238982616606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0966477965233212 0.10836637661855801 1.2416623520251409" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="1.0966477965233212 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.5798198821509233 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5798198821509233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1596397643018466 0.6500876888342165 0.5366664630718985" />
            </geometry>
            <material name="No sensor">
                <color rgba="0.44 0.78 0.91 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5798198821509233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1596397643018466 0.6500876888342165 0.5366664630718985" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="1.1596397643018466 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.44073107159586455 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.44073107159586455 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8814621431917291 0.3992100740515573 0.4088639618745678" />
            </geometry>
            <material name="Has sensor">
                <color rgba="0.2 0.66 0.31 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.44073107159586455 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8814621431917291 0.3992100740515573 0.4088639618745678" />
            </geometry>
        </collision>
    </link>
</robot>